//  Variables
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 600px;
$color-primary: #0c66e1;
$color-hover: #0a2f62;

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop - 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

html {
  font-size: 62.5%;
}

// Titutlo principal
h1 {
  text-align: center;
  font-size: 2rem; //20px
  margin-bottom: 1rem; //10px

  // Estilos específicos tablet
  @include tablet {
    font-size: 2.4rem; //24px
    margin-bottom: 1.5rem; //15px
  }
  // Estilos específicos laptop
  @include laptop {
    font-size: 2.4rem; //24px
    margin-bottom: 1.5rem; //15px
  }
}

// Texto recomendación por defecto
.out-default {
  text-align: center;
  font-size: 1.6rem; //16px
  margin-bottom: 0.5rem; //5px

  // Estilos específicos tablet
  @include tablet {
    font-size: 1.8rem; //18px
    margin-bottom: 1rem; //10px
  }
  // Estilos específicos laptop
  @include laptop {
    font-size: 1.8rem; //18px
    margin-bottom: 1rem; //10px
  }
}

.recommendations-container {
    display: flex;
    flex-direction: column;
    gap: 2rem; //20px
    margin-bottom: 0.5rem;

    // Estilos específicos tablet
    @include tablet {
        flex-direction: row;
        gap: 1rem; //10px
    }
    // Estilos específicos laptop
    @include laptop {
        flex-direction: row;
        gap: 1rem; //10px
    }
}

.recommendation{
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      font-size: 1.6rem; //16px

      // Estilos específicos tablet
      @include tablet {
        font-size: 1.8rem; //18px
      }
      // Estilos específicos laptop
      @include laptop {
        font-size: 1.8rem; //18px
      }
    }
}

.image-container {
    width: 20rem; //200px
    height: 15rem; //150px
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    // Estilos específicos tablet
    @include tablet {
        width: 20rem; //200px
        height: 50rem; //500px
    }
    // Estilos específicos laptop
    @include laptop {
        width: 20rem; //200px
        height: 30rem; //300px
    }
}

.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .btn-amadeus {
    display: flex;
    align-items: center;
    gap: 0.5rem; //5px
    font-size: 1.6rem; //16px
    background-color: $color-primary;
    border: 0.2rem solid transparent; //2px
    border-radius: 0.8rem; //8px
    padding: 0.2rem 0.3rem; //2px 3px
    color: white;

    // Estilos específicos para tablet
    @include tablet {
      font-size: 1.8rem; //18px
      padding: 0.8rem 1.6rem; //8px 16px
    }
    // Estilos específicos para laptop
    @include laptop {
      font-size: 2rem; //2px
    }
    // Cambio estilos del botón cuando se hace hover
    &:hover {
      background-color: $color-hover;
      cursor: pointer;
    }
  }
}