//  Variables
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 600px;
$color-primary: #0c66e1;
$color-hover: #0a2f62;

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop - 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

html {
  font-size: 62.5%;
}

.recommendations-container {
    display: flex;
    flex-direction: column;
    gap: 3rem; //30px

    // Estilos específicos tablet
    @include tablet {
        flex-direction: row;
        gap: 1rem; //10px
    }
    // Estilos específicos laptop
    @include laptop {
        flex-direction: row;
        gap: 1rem; //10px
    }

    & p {
      font-size: 1.8rem; //18px
    }
}

.recommendation{
    display: flex;
    flex-direction: column;

    & p {
        font-size: 1.8rem; //18px
    }
}

.image-container {
    width: 30rem; //400px
    height: 25rem; //250px
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    // Estilos específicos tablet
    @include tablet {
        width: 20rem; //200px
        height: 50rem; //500px
    }
    // Estilos específicos laptop
    @include laptop {
        width: 20rem; //200px
        height: 50rem; //500px
    }
}

.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .btn-amadeus {
    display: flex;
    align-items: center;
    gap: 0.5rem; //5px
    font-size: 1.8rem; //18px
    background-color: $color-primary;
    border: 0.2rem solid transparent; //2px
    border-radius: 0.8rem; //8px
    padding: 0.5rem 0.8rem; //5px 8px
    color: white;

    // Estilos específicos para tablet
    @include tablet {
      font-size: 2rem; //20px
      padding: 0.8rem 1.6rem; //8px 16px
    }
    // Estilos específicos para laptop
    @include laptop {
      font-size: 2.4rem; //24px
    }
    // Cambio estilos del botón cuando se hace hover
    &:hover {
      background-color: $color-hover;
      cursor: pointer;
    }
  }
}