<div class="recommendations-container">
    <p *ngIf="recommendation?.exclusive">{{ recommendation?.exclusive }}</p>
    <div class="recommendation">
        <p>Tu posible destino de viaje en América es: {{ recommendation?.america?.city }}</p>
        <div *ngIf="recommendation?.america" class="image-container" [style.backgroundImage]="'url('+recommendation?.america?.image+')'"></div>
    </div>
    <div class="recommendation">
        <p>Tu posible destino de viaje en Europa es: {{ recommendation?.europe?.city }}</p>
        <div *ngIf="recommendation?.europe" class="image-container" [style.backgroundImage]="'url(' + recommendation?.europe?.image + ')'"></div>
    </div>
</div>

