//  Variables
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 600px;
$color-primary: #0c66e1;
$color-hover: #0a2f62;

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop - 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

html {
  font-size: 62.5%;
}

// Estilos de la barra de progreso
.progress-container {
  width: 100%;
  background-color: #f3f3f3;
  border: 0.1rem solid #ccc; //1px
  border-radius: 0.5rem; //5px
  margin-bottom: 2rem; //20px

  // Estilos específicos tablet
  @include tablet {
    width: 42rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  // Estilos específicos laptop
  @include laptop {
    width: 52rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.progress-bar {
  height: 1rem; //10px
  background-color: $color-primary;
  width: 0%;
  border-radius: 0.5rem; //5px
  transition: width 0.4s ease;

  // Estilos específicos tablet
  @include tablet {
    height: 2rem; //20px
  }

  // Estilos específicos laptop
  @include laptop {
    height: 2rem; //20px
  }
}

// Estilos de las cards
//  Contenedor de la pregunta - pregunta, opciones y boton
.container {
  width: 100%;
  height: 47rem; //470px
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem; //50px
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20rem; //200px

  & h2 {
    font-size: 2rem; //20px
    // Estilos específicos para tablet
    @include tablet {
      font-size: 2.4rem; //24px
    }
    // Estilos específicos para laptop
    @include laptop {
      font-size: 3rem; //30px
    }
  }

  // Estilos específicos para tablet
  @include tablet {
    max-width: 42rem; //420px
    margin: 0 auto;
    background-size: 28rem; //280px tamaño de la imagen en general
  }
  // Estilos específicos para laptop
  @include laptop {
    max-width: 52rem; //520px
    margin: 0 auto;
    background-size: 30rem; //300px tamaño de la imagen en general
  }

  // Contenedor de las opciones (label-input)
  .opciones {
    height: 30rem; //300px
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;

    // Estilos solo a los label (texto)
    .opcion {
      display: flex;
      align-items: center;

      input[type="radio"] {
        display: none; // Ocultar el input radio

        &:checked + label {
          background: rgba(161, 90, 191, 0.17);
          border-radius: 1.6rem; //16px
          box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1); //4px 30px
          backdrop-filter: blur(0.49rem);
          -webkit-backdrop-filter: blur(0.49rem);
          border: 0.1rem solid rgba(161, 90, 191, 0.21); //1px
        }
      }
      label {
        font-size: 1.6rem; //16px
        font-weight: 400;
        width: 20rem; //200px
        padding: 1rem; //10px
        background: rgba(255, 255, 255, 0.21176470588235294);
        border-radius: 1.6rem; //16px
        box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1); //4px 30px
        backdrop-filter: blur(0.5rem);
        -webkit-backdrop-filter: blur(0.27rem);
        border: 0.1rem solid rgba(255, 255, 255, 0.29); //1px
        cursor: pointer;

        // Estilos específicos para tablet
        @include tablet {
          font-size: 1.8rem; //18px
        }
        // Estilos específicos para laptop
        @include laptop {
          font-size: 2rem; //20px
          width: 30rem; //300px
        }

        &:hover {
          background: rgba(161, 90, 191, 0.17);
          border-radius: 1.6rem; //16px
          box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1); //4px 30px
          backdrop-filter: blur(0.49rem);
          -webkit-backdrop-filter: blur(0.49rem);
          border: 0.1rem solid rgba(161, 90, 191, 0.21); //1px
        }
      }
    }
  }
}

// Definición de imágenes de fondo dinámicas
.card1 {
  background-image: url(../../assets/img/cards/1-question.svg);
}
.card2 {
  background-image: url(../../assets/img/cards/2-question.svg);
  background-size: 16rem; //160px
  // Estilos específicos para tablet
  @include tablet {
    background-size: 16rem; //160px
  }
  // Estilos específicos para laptop
  @include laptop {
    background-size: 18rem; //180px
  }
}
.card3 {
  background-image: url(../../assets/img/cards/3-question.svg);
  // Estilos específicos para laptop
  @include laptop {
    background-size: 28rem; //280px
  }
}
.card4 {
  background-image: url(../../assets/img/cards/4-question.svg);
  // Estilos específicos para tablet
  @include tablet {
    background-size: 22rem; //220px
  }
  // Estilos específicos para laptop
  @include laptop {
    background-size: 22rem; //220px
  }
}
.card5 {
  background-image: url(../../assets/img/cards/5-question.svg);
  // Estilos específicos para tablet
  @include tablet {
    background-size: 23rem; //230px
  }
  // Estilos específicos para laptop
  @include laptop {
    background-size: 25rem; //250px
  }
}
.card6 {
  background-image: url(../../assets/img/cards/6-question.svg);
  // Estilos específicos para tablet
  @include tablet {
    background-size: 26rem; //260px
  }
  // Estilos específicos para laptop
  @include laptop {
    background-size: 27rem; //270px
  }
}
.card7 {
  background-image: url(../../assets/img/cards/7-question.svg);
  // Estilos específicos para tablet
  @include tablet {
    background-size: 22rem; //220px
  }
  // Estilos específicos para laptop
  @include laptop {
    background-size: 23rem; //230px
  }
}
.card8 {
  background-image: url(../../assets/img/cards/8-question.svg);
  // Estilos específicos para laptop
  @include laptop {
    background-size: 27rem; //270px
  }
}
.card9 {
  background-image: url(../../assets/img/cards/9-question.svg);
  // Estilos específicos para laptop
  @include laptop {
    background-size: 27rem; //270px
  }
}
.card10 {
  background-image: url(../../assets/img/cards/10-question.svg);
  // Estilos específicos para laptop
  @include laptop {
    background-size: 28rem; //280px
  }
}
.card11 {
  background-image: url(../../assets/img/cards/11-question.svg);
  // Estilos específicos para tablet
  @include tablet {
    background-size: 25rem; //250px
  }
  // Estilos específicos para laptop
  @include laptop {
    background-size: 26rem; //260px
  }
}

// Estilos del boton
.btn__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .btn__arrow {
    display: flex;
    align-items: center;
    gap: 0.5rem; //5px
    font-size: 1.8rem; //18px
    background-color: $color-primary;
    border: 0.2rem solid transparent; //2px
    border-radius: 0.8rem; //8px
    padding: 0.5rem 0.8rem; //5px 8px
    color: white;

    // Estilos específicos para tablet
    @include tablet {
      font-size: 2rem; //20px
      padding: 0.8rem 1.6rem; //8px 16px
    }
    // Estilos específicos para laptop
    @include laptop {
      font-size: 2.4rem; //24px
    }
    // Cambio estilos del botón cuando se hace hover
    &:hover {
      background-color: $color-hover;
      cursor: pointer;
    }
  }

  .arrowIcon {
    width: 2.5rem; //25px
  }
}
