//  Variables
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 600px;
$color-primary: #0c66e1;
$color-hover: #0a2f62;

@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop - 1}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$breakpoint-laptop}) {
        @content;
    }
}

html {
    font-size: 16px;
}

// Estilos de la barra de progreso
.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border: 0.0625rem solid #ccc; //1px
    border-radius: 0.3125rem; //5px
    margin-bottom: 1.25rem; //20px
}
  
.progress-bar {
    height: 1.25rem; //20px
    background-color: $color-primary;
    width: 0%;
    border-radius: 0.3125rem; //5px
    transition: width 0.4s ease;
}

// Estilos de las cards
//  Contenedor de la pregunta - pregunta, opciones y boton
.container {
    width: 100%;
    height: 29.375rem; //470px
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; //50px
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10rem; //160px

    & h2 {
        // Estilos específicos para tablet
        @include tablet {
            font-size: 1.5rem; //24px
        }
        // Estilos específicos para laptop
        @include laptop {
            font-size: 1.875rem; //30px
        }
    }

    // Estilos específicos para tablet
    @include tablet {
        max-width: 26.25rem; //420px
        margin: 0 auto;
        background-size: 17.5rem; //280px tamaño de la imagen en general
    }
    // Estilos específicos para laptop
    @include laptop {
        max-width: 32.5rem; //520px
        margin: 0 auto;
        background-size: 21.875rem; //350px tamaño de la imagen en general
    }

    // Contenedor de las opciones (label-input)
    .opciones {
        height: 18.75rem; //300px
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: flex-start;
        
        // Estilos solo a los label (texto)
        .opcion {
            display: flex;
            align-items: center;

            input[type="radio"] {
                display: none; // Ocultar el input radio

                &:checked + label {
                    background: rgba(161, 90, 191, 0.17);
                    border-radius: 1rem; //16px
                    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1); //4px 30px
                    backdrop-filter: blur(4.9px);
                    -webkit-backdrop-filter: blur(4.9px);
                    border: 0.0625rem solid rgba(161, 90, 191, 0.21); //1px
                }
            }
            label {
                font-size: 1rem; //16px
                font-weight: 400;
                width: 12.5rem; //200px
                padding: 0.625rem; //10px
                background: rgba(255, 255, 255, 0.21176470588235294);
                border-radius: 1rem; //16px
                box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1); //4px 30px
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(2.7px);
                border: 0.0625rem solid rgba(255, 255, 255, 0.29); //1px
                cursor: pointer;

                // Estilos específicos para tablet
                @include tablet {
                    font-size: 1.125rem; //18px
                }
                // Estilos específicos para laptop
                @include laptop {
                    font-size: 1.25rem; //20px
                    width: 18.75rem; //300px
                }

                &:hover {
                    background: rgba(161, 90, 191, 0.17);
                    border-radius: 1rem; //16px
                    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1); //4px 30px
                    backdrop-filter: blur(4.9px);
                    -webkit-backdrop-filter: blur(4.9px);
                    border: 0.0625rem solid rgba(161, 90, 191, 0.21); //1px
                }
            }
        }
    }
}

// Definición de imágenes de fondo dinámicas
.card1 {
    background-image: url(../../assets/img/cards/1-question.svg);
}  
.card2 {
    background-image: url(../../assets/img/cards/2-question.svg);
    // Estilos específicos para tablet
    @include tablet {
        background-size: 11.25rem; //180px
    }
    // Estilos específicos para laptop
    @include laptop {
        background-size: 11.25rem; //180px
    }
}
.card3 {
    background-image: url(../../assets/img/cards/3-question.svg);
}
.card4 {
    background-image: url(../../assets/img/cards/4-question.svg);
    // Estilos específicos para tablet
    @include tablet {
        background-size: 13.75rem; //220px
    }
    // Estilos específicos para laptop
    @include laptop {
        background-size: 13.75rem; //220px
    }
}
.card5 {
    background-image: url(../../assets/img/cards/5-question.svg);
    // Estilos específicos para tablet
    @include tablet {
        background-size: 14.375rem; //230px
    }
    // Estilos específicos para laptop
    @include laptop {
        background-size: 15.625rem; //250px
    }
}
.card6 {
    background-image: url(../../assets/img/cards/6-question.svg);
    // Estilos específicos para tablet
    @include tablet {
        background-size: 16.25rem; //260px
    }
    // Estilos específicos para laptop
    @include laptop {
        background-size: 16.875rem; //270px
    }
}
.card7 {
    background-image: url(../../assets/img/cards/7-question.svg);
    // Estilos específicos para tablet
    @include tablet {
        background-size: 13.75rem; //220px
    }
    // Estilos específicos para laptop
    @include laptop {
        background-size: 14.375rem; //230px
    }
}
.card8 {
    background-image: url(../../assets/img/cards/8-question.svg);
    // Estilos específicos para laptop
    @include laptop {
        background-size: 16.875rem; //270px
    }
}
.card9 {
    background-image: url(../../assets/img/cards/9-question.svg);
    // Estilos específicos para laptop
    @include laptop {
        background-size: 16.875rem; //270px
    }
}
.card10 {
    background-image: url(../../assets/img/cards/10-question.svg);
    // Estilos específicos para laptop
    @include laptop {
        background-size: 17.5rem; //280px
    }
}
.card11 {
    background-image: url(../../assets/img/cards/11-question.svg);
    // Estilos específicos para tablet
    @include tablet {
        background-size: 15.625rem; //250px
    }
    // Estilos específicos para laptop
    @include laptop {
        background-size: 16.25rem; //260px
    }
}

// Estilos del boton
.btn__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .btn__arrow {
        display: flex;
        align-items: center;
        gap: 0.3125rem; //5px
        font-size: 1.125rem; //18px
        background-color: $color-primary;
        border: 0.125rem solid transparent; //2px
        border-radius: 0.5rem; //8px
        padding: 0.3rem 0.5rem; //5px 8px
        color: white;

        // Estilos específicos para tablet
        @include tablet {
            font-size: 1.25rem; //20px
            padding: 0.5rem 1rem; //8px 16px
        }
        // Estilos específicos para laptop
        @include laptop {
            font-size: 1.5rem; //24px
        }
        // Cambio estilos del botón cuando se hace hover
        &:hover {
            background-color: $color-hover;
            cursor: pointer;
        }
    }
    
    .arrowIcon {
        width: 1.56rem; //25px
    }
}
