//  Variables
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 600px;
$color-primary: #0c66e1;
$color-hover: #0a2f62;

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop - 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

html {
  font-size: 62.5%;
}

// Titulo principal - nombre proyecto
h1 {
  text-align: center;
  font-size: 3rem; //30px
  margin-bottom: 1rem; //10px

  // Estilos específicos para tablet
  @include tablet {
    font-size: 3.6rem; //36px
  }
  // Estilos específicos para laptop
  @include laptop {
    font-size: 3.6rem; //44px
  }
}

// Contenedor de las imagenes
.imgContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem; //10px

  // Estilos específicos para laptop
  @include laptop {
    justify-content: space-evenly;
    align-items: center;
  }
}
.imgContainer img {
  width: 32rem; //320px
  mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 80%, transparent 90%); //degradado

  // Estilos específicos para tablet
  @include tablet {
    margin-top: 1rem; //10px
    width: 45rem; //450px
  }

  // Estilos específicos para laptop
  @include laptop {
    width: 50rem; //500px
  }
}

// Contenedor del texto de bienvenida
.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; //15px
}
.welcome-text h3 {
  font-size: 2.4rem; //24px
  font-weight: 900;
  text-align: center;

  // Estilos específicos para tablet
  @include tablet {
    font-size: 3.6rem; //36px
  }
  // Estilos específicos para laptop
  @include laptop {
    font-size: 3.6rem; //36px
  }
}

// Boton que lleva a la vista del registro
.welcome-text a {
  font-size: 1.8rem; //18px
  font-weight: 600;
  align-self: flex-end;
  background-color: $color-primary;
  border: 0.2rem solid transparent; //2px
  border-radius: 0.8rem;
  padding: 0.5rem 0.8rem; //5px 8px
  color: white;
  text-decoration: none;

  // Estilos específicos para tablet
  @include tablet {
    font-size: 2.4rem; //36px
  }
  // Estilos específicos para laptop
  @include laptop {
    font-size: 2.4rem; //24px
  }
}
.welcome-text a:hover {
  background-color: $color-hover; /* Cambia el color de fondo al hacer hover */
  border: 0.2rem solid transparent; //2px
  cursor: pointer;
}
