$gap-footer: 10px;
$gap-social: 40px;
$color-gray: #666;
$breakpoint-laptop: 1024px;

@mixin laptop {
    @media (min-width: #{$breakpoint-laptop}) {
        @content;
    }
}

html {
    font-size: 16px;
}


.footer__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap-footer;
    padding: 3.125rem 0 0.3125rem; //50px 0 5px

    & p {
        color: $color-gray;
    }
}

.footer__icon--social {
    display: flex;
    gap: $gap-social;

    a {
        color: $color-gray;
        // fill: currentColor: Asegura que los íconos SVG hereden el color del enlace, facilitando los cambios de color si se decide modificar la variable $color-gray.
        svg {
            fill: currentColor;
        }
    }
}