// Variables
$color-gray: #666;
$breakpoint-laptop: 1024px;

@mixin laptop {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

html {
  font-size: 62.5%;
}

.footer__icon {
  width: 90%;
  margin: 0 auto;
  // position: fixed;
  // bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; //10px
  margin-top: 3rem;


  // Estilos específicos laptop
  @include laptop {
    position: inherit;
    margin-top: 2rem;
  }

  & p {
    color: $color-gray;
  }
}

.footer__icon--social {
  display: flex;
  justify-content: center;
  gap: 2rem; //20px

  a {
    color: $color-gray;
    // fill: currentColor: Asegura que los íconos SVG hereden el color del enlace, facilitando los cambios de color si se decide modificar la variable $color-gray.
    svg {
      fill: currentColor;
    }
  }
}
