//  Variables
$breakpoint-desktop: 1440px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 600px;
$color-primary: #0c66e1;
$color-hover: #0a2f62;

@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop - 1}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$breakpoint-laptop}) and (max-width: #{$breakpoint-desktop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

html {
    font-size: 62.5%;
}

// Estilos del titulo de register
.titulo-registro {
    text-align: center;
    margin-bottom: 2.4rem; // 24px
    p {
        margin: 0;
        font-size: 2.4rem; // 24px

        // Estilos específicos para tablet
        @include tablet() {
            font-size: 3rem; //30px
        }
        // Estilos específicos para laptop
        @include laptop {
            font-size: 3rem; //30px
        }
    }
}

// Formulario en sí mismo
.contenedor-formulario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; //15px
    padding: 2rem; //20px
    background-color: #f9f9f9;
    border-radius: 0.8rem; //8px
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1); //0 4px 6px

    // Estilos específicos para tablet
    @include tablet() {
        width: 48rem; //480px
        margin: 0 auto;
        gap: 3rem; //30px separación entre (nombre-email)
        padding: 3rem; //30px
    }
    // Estilos específicos para laptop
    @include laptop {
        width: 52rem;
        margin: 0 auto;
        gap: 2rem; //20px separación entre (nombre-email)
        padding: 2rem; //20px
    }
    @include desktop {
        width: 52rem;
        margin: 0 auto;
    }

    // Contenedor de cada campo del formulario
    .datos-formulario {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem; //20px, separacion entre icono y label/input
        
        // Icono del formulario
        .icon-form {
            width: 3.6rem; //36px
            height: 3.6rem; //36px
            color: $color-primary;

            // Estilos específicos para tablet
            @include tablet {
                width: 4.4rem; //44px
                height: 4.4rem; //44px
            }
            // Estilos específicos para laptop
            @include laptop {
                width: 3rem; //30px
                height: 3rem; //30px
            }
        }

        // Cada campo de texto del formulario
        .texto-form {
            display: flex;
            flex-direction: column;
            gap: 0.5rem; //5px

            label {
                font-size: 1.6rem; //16px
                font-weight: 800;

                // Estilos específicos para tablet
                @include tablet {
                    font-size: 2rem; //20px
                }
                // Estilos específicos para laptop
                @include laptop {
                    font-size: 2rem; //20px
                }
            }

            input, select {
                width: 20rem; //200px

                // Estilos específicos para tablet
                @include tablet {
                    width: 32rem; //320px
                }
                // Estilos específicos para laptop
                @include laptop {
                    width: 40rem; //400px
                }
                // Estilos específicos para laptop
                @include desktop {
                    width: 40rem; //400px
                }
            }
        }
    }
    // Posiciona el botón dentro del formulario
    .btn-sgte {
        align-self: flex-end;  // Posiciona el botón al final y a la derecha
        margin-top: 1.5rem; //15px
    }
}

// Estilos para los input y select
.input-custom, .select-custom {
    border: 0.1rem solid #ccc; //1px
    border-radius: 0.5rem; //5px
    padding: 0.5rem; //5px

    // Estilos específicos para tablet
    @include tablet {
        font-size: 1.8rem; //18px
    }
    // Estilos específicos para laptop
    @include laptop {
        font-size: 1.8rem; //18px
    }
}

// Terminos y condiciones
.termsdata {
    display: flex;
    gap: 0.5rem;

    & a {
        color: $color-primary;
    }
}

// Estilos del botón
.btn-primary {
    font-size: 1.8rem; //18px
    font-weight: 600;
    border-radius: 0.8rem; //8px
    padding: 0.5rem 0.8rem; //5px 8px
    color: white;
    border: 0.2rem solid transparent; //2px

    // Estilos específicos para tablet
    @include tablet {
        font-size: 2.4rem; //24px
        padding: 0.8rem 1.6rem; //8px 16px
    }
    // Estilos específicos para laptop
    @include laptop {
        font-size: 2.4rem; //24px
    }

    // Cuando está deshabilitado
    &:disabled {
        background-color: #adb5bd;
        cursor: not-allowed;
    }
    // Cuando está habilitado
    &:not(:disabled) {
        background-color: $color-primary;
        cursor: pointer;
    }
    // Cuando se hace hover
    &:not(:disabled):hover {
        background-color: $color-hover;
        cursor: pointer;
    }
}